:root {
    --primary-color: #333;
    --accent-color: #ff6347;
    --background-color: #f4f4f4;
    --text-color: white;
    --spacing: 20px;
    --border-radius: 12px;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px 0;
    text-align: center;
    border-bottom: 4px solid var(--accent-color);
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    padding: var(--spacing);
}

nav a {
    color: var(--text-color);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
}

nav a:hover {
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
}

.container {
    padding: var(--spacing);
}

.about,
.projects,
.contact {
    margin-bottom: 40px;
    background-color: var(--text-color);
    color: var(--primary-color);
    padding: var(--spacing);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 25);
}

.about-content {
    display: flex;
    align-items: center;
    gap: var(--spacing);
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.about-text p {
    margin: 0 0 10px 0;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing);
}

.project-item {
    background-color: var(--text-color);
    color: var(--primary-color);
    padding: var(--spacing);
    text-align: center;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-item img {
    width: 300px;
    height: 300px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border: 1px solid var(--primary-color);
}

.project-item a {
    color: var(--primary-color);
    text-decoration: none;
}

.contact-content {
    text-align: center;
}

.contact-content p {
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons a img {
    width: 40px;
    height: 40px;
    border-radius: var(--border-radius);
}

footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 10px 0;
    border-top: 4px solid var(--accent-color);
}

